/* headings */
h1,
h2,
h3,
h4,
h5,
h6,
.entry-content :where(h1, h2, h3, h4, h5, h6),
.site-title,
.site-title a {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
}

/* body */
body,
button,
input,
select,
textarea,
.ast-button,
.ast-custom-button {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-size: 1rem;
	line-height: var(--ast-body-line-height, 1.65);
}

.fonts {
	--font-heading-1: 'Playfair Display';
	--font-body-1: 'Open Sans';
	--font-heading-2: 'Lato';
	--font-body-2: 'Lora';
	--font-heading-3: 'Barlow Semi Condensed';
	--font-body-3: 'Roboto';
	--font-heading-4: 'Monserrat';
	--font-body-4: 'Source Sans Pro';
	--font-heading-5: 'Rubik';
	--font-body-5: 'Carla';
	--font-heading-6: 'DM Serif Display';
	--font-body-6: 'Work Sans';
}

.oak {
	--ast-global-color-0: #0067FF;
	--e-global-color-astglobalcolor0: #0067FF;
	--ast-global-color-1: #005EE9;
	--e-global-color-astglobalcolor1: #005EE9;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #364151;
	--e-global-color-astglobalcolor3: #364151;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #E7F6FF;
	--e-global-color-astglobalcolor5: #E7F6FF;
	--ast-global-color-6: #070614;
	--e-global-color-astglobalcolor6: #070614;
	--ast-global-color-7: #D1DAE5;
	--e-global-color-astglobalcolor7: #D1DAE5;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.viola {
	--ast-global-color-0: #6528F7;
	--e-global-color-astglobalcolor0: #6528F7;
	--ast-global-color-1: #5511F8;
	--e-global-color-astglobalcolor1: #5511F8;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #454F5E;
	--e-global-color-astglobalcolor3: #454F5E;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #F2F0FE;
	--e-global-color-astglobalcolor5: #F2F0FE;
	--ast-global-color-6: #0D0614;
	--e-global-color-astglobalcolor6: #0D0614;
	--ast-global-color-7: #D8D8F5;
	--e-global-color-astglobalcolor7: #D8D8F5;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.cedar {
	--ast-global-color-0: #DD183B;
	--e-global-color-astglobalcolor0: #DD183B;
	--ast-global-color-1: #CC1939;
	--e-global-color-astglobalcolor1: #CC1939;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #3A3A3A;
	--e-global-color-astglobalcolor3: #3A3A3A;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #FFEDE6;
	--e-global-color-astglobalcolor5: #FFEDE6;
	--ast-global-color-6: #140609;
	--e-global-color-astglobalcolor6: #140609;
	--ast-global-color-7: #FFD1BF;
	--e-global-color-astglobalcolor7: #FFD1BF;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.widow {
	--ast-global-color-0: #54B435;
	--e-global-color-astglobalcolor0: #54B435;
	--ast-global-color-1: #379237;
	--e-global-color-astglobalcolor1: #379237;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #2F3B40;
	--e-global-color-astglobalcolor3: #2F3B40;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #EDFBE2;
	--e-global-color-astglobalcolor5: #EDFBE2;
	--ast-global-color-6: #0C1406;
	--e-global-color-astglobalcolor6: #0C1406;
	--ast-global-color-7: #D5EAD8;
	--e-global-color-astglobalcolor7: #D5EAD8;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.lily {
	--ast-global-color-0: #DCA54A;
	--e-global-color-astglobalcolor0: #DCA54A;
	--ast-global-color-1: #D09A40;
	--e-global-color-astglobalcolor1: #D09A40;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #4A4A4A;
	--e-global-color-astglobalcolor3: #4A4A4A;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #FAF5E5;
	--e-global-color-astglobalcolor5: #FAF5E5;
	--ast-global-color-6: #141004;
	--e-global-color-astglobalcolor6: #141004;
	--ast-global-color-7: #F0E6C5;
	--e-global-color-astglobalcolor7: #F0E6C5;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.rose {
	--ast-global-color-0: #FB5FAB;
	--e-global-color-astglobalcolor0: #FB5FAB;
	--ast-global-color-1: #EA559D;
	--e-global-color-astglobalcolor1: #EA559D;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #454F5E;
	--e-global-color-astglobalcolor3: #454F5E;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #FCEEF5;
	--e-global-color-astglobalcolor5: #FCEEF5;
	--ast-global-color-6: #140610;
	--e-global-color-astglobalcolor6: #140610;
	--ast-global-color-7: #FAD8E9;
	--e-global-color-astglobalcolor7: #FAD8E9;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.sage {
	--ast-global-color-0: #1B9C85;
	--e-global-color-astglobalcolor0: #1B9C85;
	--ast-global-color-1: #178E79;
	--e-global-color-astglobalcolor1: #178E79;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #454F5E;
	--e-global-color-astglobalcolor3: #454F5E;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #EDF6EE;
	--e-global-color-astglobalcolor5: #EDF6EE;
	--ast-global-color-6: #06140C;
	--e-global-color-astglobalcolor6: #06140C;
	--ast-global-color-7: #D4F3D7;
	--e-global-color-astglobalcolor7: #D4F3D7;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.flare {
	--ast-global-color-0: #FD9800;
	--e-global-color-astglobalcolor0: #FD9800;
	--ast-global-color-1: #E98C00;
	--e-global-color-astglobalcolor1: #E98C00;
	--ast-global-color-2: #0F172A;
	--e-global-color-astglobalcolor2: #0F172A;
	--ast-global-color-3: #454F5E;
	--e-global-color-astglobalcolor3: #454F5E;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #FEF9E1;
	--e-global-color-astglobalcolor5: #FEF9E1;
	--ast-global-color-6: #141006;
	--e-global-color-astglobalcolor6: #141006;
	--ast-global-color-7: #F9F0C8;
	--e-global-color-astglobalcolor7: #F9F0C8;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.maple {
	--ast-global-color-0: #FF6210;
	--e-global-color-astglobalcolor0: #FF6210;
	--ast-global-color-1: #F15808;
	--e-global-color-astglobalcolor1: #F15808;
	--ast-global-color-2: #1C0D0A;
	--e-global-color-astglobalcolor2: #1C0D0A;
	--ast-global-color-3: #353535;
	--e-global-color-astglobalcolor3: #353535;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #FEF1E4;
	--e-global-color-astglobalcolor5: #FEF1E4;
	--ast-global-color-6: #140B06;
	--e-global-color-astglobalcolor6: #140B06;
	--ast-global-color-7: #E5D7D1;
	--e-global-color-astglobalcolor7: #E5D7D1;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.brich {
	--ast-global-color-0: #737880;
	--e-global-color-astglobalcolor0: #737880;
	--ast-global-color-1: #65696F;
	--e-global-color-astglobalcolor1: #65696F;
	--ast-global-color-2: #151616;
	--e-global-color-astglobalcolor2: #151616;
	--ast-global-color-3: #393C40;
	--e-global-color-astglobalcolor3: #393C40;
	--ast-global-color-4: #FFFFFF;
	--e-global-color-astglobalcolor4: #FFFFFF;
	--ast-global-color-5: #F6F6F6;
	--e-global-color-astglobalcolor5: #F6F6F6;
	--ast-global-color-6: #232529;
	--e-global-color-astglobalcolor6: #232529;
	--ast-global-color-7: #F1F0F0;
	--e-global-color-astglobalcolor7: #F1F0F0;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}

.dark {
	--ast-global-color-0: #0085FF;
	--e-global-color-astglobalcolor0: #0085FF;
	--ast-global-color-1: #0177E3;
	--e-global-color-astglobalcolor1: #0177E3;
	--ast-global-color-2: #FFFFFF;
	--e-global-color-astglobalcolor2: #FFFFFF;
	--ast-global-color-3: #E7F6FF;
	--e-global-color-astglobalcolor3: #E7F6FF;
	--ast-global-color-4: #212A37;
	--e-global-color-astglobalcolor4: #212A37;
	--ast-global-color-5: #0F172A;
	--e-global-color-astglobalcolor5: #0F172A;
	--ast-global-color-6: #4F5B62;
	--e-global-color-astglobalcolor6: #4F5B62;
	--ast-global-color-7: #070614;
	--e-global-color-astglobalcolor7: #070614;
	--ast-global-color-8: #222222;
	--e-global-color-astglobalcolor8: #222222;
}